/* TextPath */
/*@import url('https://fonts.googleapis.com/css?family=Coming+Soon');*/
@font-face {
    font-family: 'Coming Soon';
    src: url('./ComingSoon.ttf');
}

.textPathWrapper {
    margin-top:100px;
    text-align: center;
    margin-left:300px;
}
.pathSvg path {
    fill:none;
    stroke-width:1px;
    stroke:black;
}

.pathSvg text {
    font-family: 'Coming Soon', cursive;
}

.pathSvg {
    border:1px solid #d3d3d3;
}

#text-path {
    stroke-width:0px;
}
