/* TextPath */

.textPathWrapper {
    margin-top:100px;
    text-align: center;
    margin-left:300px;
}
.pathSvg path {
    fill:none;
    stroke-width:1px;
    stroke:black;
}

.pathSvg text {
    font-family: 'helvetica';
}

.pathSvg {
    /*border:1px solid #d3d3d3;*/
}

#text-path {
    stroke-width:0px;
}
